<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1><%= @spot.name %></h1>
  <i><%= @spot.address %></i>
  <br/><br/>
  <p><%= @spot.description %></p>
  <div class="pull-right">
    <%= link_to 'Edit', edit_spot_path(@spot), class: 'btn btn-primary' %>
    <%= link_to 'Destroy', spot_path(@spot), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger' %>
  </div>
</div>